<!DOCTYPE html>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<title><%= (page.title ? page.title + ' – ' : '') + config.title %></title>
<% if (page.description || config.description) { %>
<meta name="description" content="<%= page.description || config.description %>" />
<% } %>

<link rel="canonical" href="<%= page.permalink %>" />

<%- css('css/normalize.css') %>
<%- css('css/main') %>
